.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    z-index: 1000;
    flex-shrink: 0;
    
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 100%;
}

.navbar li {
    padding: 10px 20px;
    border-radius: 5px; 
}

.navbar li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 500;
}